#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config PARTITION_MANAGER
	default n

if BOARD_BM_XIAO_SOFTDEVICE_NRF54L15_CPUAPP_S115_SOFTDEVICE

choice SOFTDEVICE_SELECTION
	default SOFTDEVICE_S115
endchoice

endif # BOARD_BM_XIAO_SOFTDEVICE_NRF54L15_CPUAPP_S115_SOFTDEVICE
