#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config BOARD_BM_XIAO_SOFTDEVICE
	select SOC_NRF54L15_CPUAPP if BOARD_BM_XIAO_SOFTDEVICE_NRF54L15_CPUAPP_S115_SOFTDEVICE
